# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc

# Local data cache & temp
backend/data/*.csv
backend/data/*.db-journal
.pytest_cache/

# Environment & secrets
.env
.env.local
.DS_Store
Thumbs.db
